<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <a href="https://www.flaticon.es/iconos-gratis/perro" title="perro iconos"></a>
    <a href="https://www.flaticon.es/iconos-gratis/comida-de-gato" title="comida de gato iconos"></a>
    <a href="https://www.flaticon.es/iconos-gratis/hora-y-fecha" title="hora y fecha iconos"></a>
    <a href="https://www.flaticon.es/iconos-gratis/ducha" title="ducha iconos"></a>
    <link rel="stylesheet" href="../css/estilos bienestar.css">


    <title>Bienestar y Cuidados • Seven Lives</title>
</head>

<body>
    <header>
        <div class="deslizableMenu">
            <nav class="menu">
                <ul>
                    <div class="div-logo">

                        <a href="../index.html">
                            <img class="logo" src="../img/nuevo-seven-lives.png" alt="SevenLives">
                        </a>

                    </div>
                    <div class="div-lista">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a class="active" href="/templates/bienestar.html">Bienestar</a></li>
                        <li><a href="/templates/historia.html">Historia</a></li>
                        <li><a href="/templates/contacto.html">Contacto</a></li>
                    </div>

                </ul>

            </nav>
            <button class="no-border" id="hideMenuButton">
                <img src="../img/huella-animacion - copia.png" alt="ocultar-menu">
            </button>

        </div>
        <button class="no-border" id="showMenuButton" style="display: none;">
            <img src="../img/huella-animacion.png" alt="desplegar-menu">
        </button>

    </header>
    <main>
        <div class="space-top">
            <img class="gato-curioso" src="../img/curiosity-cat2.png" alt="curiosity-cat">
        </div>
        <div class="div1">
            <section class="seccion">
                <img class="ico" src="../img/huella.png" alt="huella">
                <h1 class="h1">El Bienestar y Cuidado de los Gatos</h1>
                <img class="img1" src="../img/gatos.png" alt="gatos" />
                <p class="p">Es importante tener en cuenta, que tener un gato en casa significa una gran responsabilidad
                    y compromiso.
                    El Bienestar es una pieza clave para garantizarle una vida plena y saludable. Hay una serie de
                    factores que contribuyen al bienestar de tu gato. Cuidarlo adecuadamente desde el primer día
                    garantizará que esté saludable y se adapte bien a su nuevo hogar.
                </p>
            </section>
            <section class="secconte">

                <h2 class="h2">Factores que contribuyen al bienestar de tu gato:</h2>
                <div class="grilla-cards">

                    <div class="card">
                        <h3 class="card-titulo">Alimentación</h3>
                        <img class=img2 src="../img/gato grid/gato-sienta-junto-plato-comida-seca_.jpg" alt="gatocomiendo"
                            class="card-imagen">
                        <div class="card-contenido">
                            <p class="card-texto">Si podemos tener varios comederos, mejor, y deben estar separados unos
                                de otros. Los platos deben ser preferentemente de cerámica o cristal, bajos y anchos, no
                                les gusta que sus bigotes toquen el borde.
                                Deben colocarse en lugares tranquilos.Si nunca has tenido un gato, vas a descubrir que
                                les gusta comer poco y muchas veces al día.
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <h3 class="card-titulo">Hidratación</h3>
                        <img class=img2 src="../img/gato grid/gatotomandoagua.jpg" alt="gatohidrata" class="card-imagen">
                        <div class="card-contenido">
                            <p class="card-texto"> Lo ideal es tener dos bebederos por gato para incentivar que beban
                                agua. Respecto al material, tratar de no usar de metal para el agua ya que a algunos les
                                asusta ver su reflejo. Es importante cambiar el agua frecuentemente.
                                La hidratación es un punto crítico en la salud de nuestros felinos, combinar la comida
                                húmeda en su dieta, también ayuda a la hidratación.
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <h3 class="card-titulo">Areneros</h3>
                        <img class=img2 src="../img/gato grid/Como-utilizar-las-piedras1.jpg" alt="gatoarenero"
                            class="card-imagen">
                        <div class="card-contenido">
                            <p class="card-texto">Deben ser amplios, bajos y anchos. Situarlos en zonas tranquilas.
                                La mejor arena es la aglomerante y sin perfume.
                                Debes hacer una limpieza diaria con la pala y cada 7-10 días una limpieza profunda. </p>
                        </div>
                    </div>

                    <div class="card">
                        <h3 class="card-titulo">Puntos de descanso</h3>
                        <img class=img2 src="../img/gato grid/gatodurmiendobolita.jpg" alt="gatodescansa"
                            class="card-imagen">
                        <div class="card-contenido">
                            <p class="card-texto">Deben de tener lugares tranquilos, oscuros y apartados.
                                Si hablamos de cama, los gatos prefieren dormir en superficies mullidas, cuando tienen
                                una cama blandita hacen cosas como dormir enroscados o amasar con las patas. Mientras
                                que amasar se considera una conducta placentera, que realizan los gatitos cuando
                                amamantan y siguen realizando los adultos en momentos de gran relajación. </p>
                        </div>
                    </div>

                    <div class="card">
                        <h3 class="card-titulo">Rascadores</h3>
                        <img class=img2 src="../img/gato grid/rascador1.jpg" alt="gatoentretiene" class="card-imagen">
                        <div class="card-contenido">
                            <p class="card-texto">Son tan necesarios como un arenero, deben estar fuertemente fijados o
                                tener una buena estabilidad para que el gato se sienta seguro al usarlo.
                                Pueden ser vertical u horizontal, eso dependerá de cada gato. </p>
                        </div>
                    </div>

                    <div class="card">
                        <h3 class="card-titulo">La interacción con el dueño</h3>
                        <img class=img2 src="../img/gato grid/gatomimoso.jpeg" alt="gatomimo" class="card-imagen">
                        <div class="card-contenido">
                            <p class="card-texto">Debes ser amigable y regular (contacto un mínimo de horas todos los
                                días). No debes asustarlo. Los gatos son el compañero perfecto. Son cariñosos y
                                juguetones sin ser demasiado dependiente de usted. </p>
                        </div>
                    </div>
                </div>

            </section>

            <section class="seccion2">
                <div class="div2">
                    <img class="ico1" src="../img/comida-de-gato.png" alt="comida">
                    <h2 class="h5"> Alimentación</h2>
                    <p class="p5"> Una alimentación equilibrada, variada y adecuada a la especie contribuye en gran
                        medida a mantener la salud de tu querido minino. Es importante tener en cuenta que gran parte de
                        lo que consumimos los humanos no es adecuado para la alimentación del gato, incluso en algunos
                        casos es dañino.</p>
                    <h2 class="h4">Tabla de cantidad de comida para gatos</h2>
                    <p class="p1">Importante: Esta tabla muestra valores orientativos. Cada gato puede tener una demanda
                        mayor o menor de comida.</p>
                    <table class="tabla" border="2">

                        <tr>
                            <th>Peso del gato en kg </th>
                            <th>Ración diaria de comida húmeda en g </th>
                        </tr>
                        <tr>
                            <td>Hasta 2</td>
                            <td>120 - 160</td>
                        </tr>
                        <tr>
                            <td>2 - 3</td>
                            <td>160 - 210</td>
                        </tr>
                        <tr>
                            <td>3 - 4</td>
                            <td>210 - 260</td>
                        </tr>
                        <tr>
                            <td>4 - 5</td>
                            <td>240 - 320</td>
                        </tr>
                        <tr>
                            <td>5 - 6</td>
                            <td>250 - 360</td>
                        </tr>
                    </table>

                </div>
                <div class="div2">
                    <img class="ico1" src="../img/calendarioIco.png" alt="vacuna">
                    <h2 class="h5">Vacunación</h2>
                    <p class="p5">
                        Como buen compañero del hogar y en algunas ocasiones de viajes, nuestro gato necesita una serie
                        vacunas para mantener su salud al 100%.

                        Es cierto que los gatos son animales que, si sufren una enfermedad, su sintomatología es difícil
                        de percibir. De esta manera el calendario de vacunación, desparasitación veterinaria y revisión
                        son esenciales para mantener a nuestro compañero felino fuerte y saludable en todo momento.

                    </p>

                    <img class="img3" src="../img/vacunas_para_gatos_calendario_.jpg">

                </div>
            </section>

            <section class="seccion">
                <img class="ico1" src="../img/aseo-de-mascotas.png" alt="aseo">
                <h2 class="h5">Higiene</h2>
                <section class="seccion1">
                        
                    <iframe class="mivideo" width="500" height="250" src="https://www.youtube.com/embed/gLVDZk1L6aM?si=3kvY-VcOz0ewaxtm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    <ol class="li">
                        <li> Con el aseo de tu gatito:
                            <ul>
                                <li> Retiras el pelo muerto</li>

                                <li> Mantienes su pelaje y su piel sana</li>

                                <li> Te ayuda a construir una relación más estrecha</li>

                            </ul>
                        </li>

                        <li>La minuciosidad y la frecuencia con que cepilles a tu gatito variará normalmente en función
                            del tipo de pelaje:
                            <ul>
                                <li>Para un gato de pelaje corto, por lo general, tan solo es necesario un «vistazo» por
                                    encima a la semana</li>
                                <li>Mientras que una raza de pelaje largo requerirá cuidados diarios con un equipamiento
                                    adecuado</li>
                                <ul>
                        </li>
                    </ol>


                </section>
            </section>

        </div>

    </main>

    <footer>
        <div class="fondo-opaco">
            <div class="curiosity-footer"><img src="../img/footer/curiositi-cat4.png" alt=""></div>
            <div class="catfamily">
                <div class="redes-flex">
                    <h1>Nuestras redes de contacto</h1>
                </div>
                <div class="redes-sociales">
                    <a href="https://www.instagram.com/" target="_blank">Instagram <img src="../img/redes/instagram.png" alt=""></a>
                    <a href="https://www.facebook.com/" target="_blank">Facebook <img src="../img/redes/facebook (1).png" alt=""></a>
                    <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank">Whatsapp <img src="../img/redes/whatsapp.png" alt=""></a>
                    <a href="mailto:hernandez.flores.rr@gmail.com">E-mail<img src="../img/redes/email.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/header.js"></script>
</body>

</html>