<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <title>Historia • Seven Lives</title>
    <link rel="stylesheet" type="text/css" href="../css/historia.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <header>
        <div class="deslizableMenu">
            <nav class="menu">
                <ul>
                    <div class="div-logo">

                        <a href="../index.html">
                            <img class="logo" src="../img/nuevo-seven-lives.png" alt="SevenLives">
                        </a>

                    </div>
                    <div class="div-lista">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="/templates/bienestar.html">Bienestar</a></li>
                        <li><a class="active" href="/templates/historia.html">Historia</a></li>
                        <li><a href="/templates/contacto.html">Contacto</a></li>
                    </div>

                </ul>

            </nav>
            <button class="no-border" id="hideMenuButton">
                <img src="/img/huella-animacion - copia.png" alt="">
            </button>

        </div>
        <button class="no-border" id="showMenuButton" style="display: none;">
            <img src="/img/huella-animacion.png" alt="">
        </button>

    </header>
    <main>
        <div class="space-top">
            <img class="gato-curioso" src="/img/curiosity-cat2.png" alt="curiosity-cat">
        </div>
        <section class="hero">
            <div class="hero__container container">
                <h1 class="hero__title">HISTORIA</h1>

            </div>
        </section>

        <section class="container about">
            <h2 class="subtitle">La figura del gato a lo largo de la historia</h2>
            <p class="about__paragraph">Aunque llevan conviviendo con los humanos menos que los perros, los gatos han
                sido un punto clave en la cultura de muchas civilizaciones a lo largo de la Historia. Te lo contamos
                todas las curiosidades sobre su evolución.</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="../assets/gato egipto.jpg" class="about__icon">
                    <h3 class="about__title">Egipto Antiguo</h3>
                    <p class="about__paragrah">Durante el Egipto Antiguo, los gatos eran venerados como seres sagrados y
                        asociados con la diosa Bastet. Eran considerados protectores de los hogares y amuletos contra el
                        mal. La matanza de un gato, incluso accidentalmente, se castigaba con la pena de muerte. Los
                        gatos también eran momificados y enterrados con sus dueños para llevarlos al más allá </p>
                </article>

                <article class="about__icons">
                    <img src="../assets/gato edad media.jpg" class="about__icon">
                    <h3 class="about__title">Edad Media</h3>
                    <p class="about__paragrah">En la Edad Media, los gatos negros sufrieron persecución debido a la
                        creencia de que estaban relacionados con la brujería. Fueron cazados y asesinados, lo que llevó
                        a una disminución de su población. Se creía que los gatos eran familiares de brujas y que tenían
                        poderes mágicos. Esta persecución dejó una marca en la historia de los gatos negros, quienes
                        todavía son, en algunos lugares, considerados de mala suerte.</p>
                </article>

                <article class="about__icons">
                    <img src="../assets/gato siames.jpg" class="about__icon">
                    <h3 class="about__title">Siglo XIX</h3>
                    <p class="about__paragrah">El siglo XIX marcó el comienzo de la cría selectiva de razas de gatos. Se
                        fundaron las primeras asociaciones de criadores y se empezaron a establecer estándares para
                        razas específicas, como los siameses y persas. Este período llevó a la proliferación de gatos
                        con características físicas distintivas y una creciente popularidad de las exposiciones felinas,
                        que continúa hasta hoy.</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Algunas curiosidades!</h2>
                    <p class="knowledge__paragraph">Una curiosidad interesante sobre los gatos en la historia es su
                        relación con la protección de manuscritos medievales. Durante la Edad Media en los monasterios
                        europeos, los gatos a menudo vivían en las bibliotecas. Su presencia tenía un propósito crucial:
                        proteger los manuscritos de los roedores, como ratones y ratas, que podían causar daños graves a
                        estos documentos históricos.

                        Los monjes copistas y bibliotecarios valoraban enormemente los manuscritos, ya que eran una
                        forma de preservar y transmitir conocimiento en tiempos en los que los libros eran escasos y
                        costosos de producir. Los gatos, con su instinto de cazadores, se convirtieron en guardianes
                        eficaces contra las plagas de roedores que podrían destruir estos tesoros culturales.

                        Esta relación entre los gatos y la protección de manuscritos medievales es una curiosidad
                        histórica fascinante que muestra cómo los gatos han desempeñado diversos roles en la vida de las
                        personas a lo largo de los siglos, más allá de ser simples mascotas.</p>

                </div>

                <figure>
                    <video height="480" width="270" controls class="videogato">
                        <source src="../assets/Snapinsta.app_video_322945886_834276437897260_8991045916060121318_n.mp4"
                            type="video/mp4">
                        Tu navegador no admite el elemento de video.
                    </video>
                </figure>

            </div>
        </section>

        <section>
            <h2 class="subtitle">MITOS</h2>

            <div class="price__table">
                <div class="price__element">
                    <h3 class="price__price">Los gatos siempre caen de pie</h3>

                    <div class="price__items">
                        <p class="price__features">Este mito sugiere que los gatos tienen la habilidad de caer desde
                            cualquier altura y aterrizar sobre sus patas. Aunque los gatos tienen reflejos rápidos y una
                            excelente agilidad, no siempre pueden prevenir lesiones graves en caídas desde grandes
                            alturas.</p>

                    </div>


                </div>


                <div class="price__element">

                    <h3 class="price__price">Los gatos negros traen mala suerte</h3>

                    <div class="price__items">
                        <p class="price__features">Este es un mito supersticioso que ha persistido durante mucho tiempo.
                            En muchas culturas, los gatos negros se consideran de mal agüero. Sin embargo, en realidad,
                            el color de un gato no tiene nada que ver con la suerte que puedan traer./p>

                    </div>


                </div>


                <div class="price__element">

                    <h3 class="price__price">Los gatos son solitarios y no necesitan compañía</h3>

                    <div class="price__items">
                        <p class="price__features">Aunque los gatos son conocidos por su independencia, muchos disfrutan
                            de la compañía humana y de otros gatos. Algunos gatos son bastante sociales y pueden
                            entablar relaciones cercanas con sus dueños y otros animales.</p>

                    </div>


                </div>


            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <img src="" class="testimony__arrow" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Dato Científico, <span class="testimony__course">El Ronroneo</span></h2>
                        <p class="testimony__review">Un dato científico sobre el ronroneo de los gatos es que el
                            ronroneo es un fenómeno aún no completamente comprendido, pero se ha descubierto que su
                            frecuencia de vibración está en el rango de 25 a 150 hertz (Hz), y la mayoría de los gatos
                            ronronea a alrededor de 25-50 Hz. Esta vibración se produce en la laringe del gato y puede
                            extenderse a lo largo de todo su cuerpo, lo que incluye no solo la garganta sino también los
                            huesos y tejidos. La razón detrás de este rango específico de frecuencia y su efecto en los
                            gatos sigue siendo un área activa de investigación. Sin embargo, se ha observado que esta
                            frecuencia de vibración del ronroneo parece tener propiedades terapéuticas en los humanos y
                            los gatos, lo que podría explicar por qué a menudo se asocia con la comodidad y la curación.
                        </p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../assets/gato ronroneo.jpg" class="testimony__img" id="testimonyImage">
                    </figure>
                </section>
                
            </div>
        </section>
        </section>

    </main>
    <footer>
        <div class="fondo-opaco">
            <div class="curiosity-footer"><img src="../img/footer/curiositi-cat4.png" alt=""></div>
            <div class="catfamily">
                <div class="redes-flex">
                    <h1>Nuestras redes de contacto</h1>
                </div>
                <div class="redes-sociales">
                    <a href="https://www.instagram.com/" target="_blank">Instagram <img src="/img/redes/instagram.png"
                            alt=""></a>
                    <a href="https://www.facebook.com/" target="_blank">Facebook <img src="/img/redes/facebook (1).png"
                            alt=""></a>
                    <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank">Whatsapp <img
                            src="/img/redes/whatsapp.png" alt=""></a>
                    <a href="mailto:hernandez.flores.rr@gmail.com">E-mail<img src="/img/redes/email.png" alt=""></a>
    
                </div>
            </div>
        </div>
    </footer>

    <script>

        const knowledgeContainer = document.querySelector('.knowledge__container');
        window.addEventListener('scroll', () => {
            const elementRect = knowledgeContainer.getBoundingClientRect();
            const windowHeight = window.innerHeight;
            if (elementRect.top < windowHeight) {
                knowledgeContainer.classList.add('entered');
            } else {
                knowledgeContainer.classList.remove('entered');
            }
        });
    </script>

<script src="../js/header.js"></script>
</body>

</html>